<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="SwarmDebug">
      </category>
      <view
            allowMultiple="false"
            category="SwarmDebug"
            class="swarm.manager.views.ManagerView"
            icon="icons/project.gif"
            id="swarm.manager.views.ManagerView"
            name="%view.name">
      </view>
      <view
            allowMultiple="false"
            category="SwarmDebug"
            class="swarm.manager.views.DynamicMethodCallGraph"
            icon="icons/project.gif"
            id="swarm.manager.views.DynamicMethodCallGraph"
            name="%view.name.0">
      </view>      
      <view
            allowMultiple="false"
            category="SwarmDebug"
            class="swarm.manager.views.SequencePathView"
            icon="icons/project.gif"
            id="swarm.manager.views.SequencePathView"
            name="%view.name.1">
      </view>
      <view
            allowMultiple="false"
            category="SwarmDebug"
            class="swarm.manager.views.TaskView"
            icon="icons/project.gif"
            id="swarm.manager.views.TaskView"
            name="%view.name.7">
      </view>      
      <view
            allowMultiple="false"
            category="SwarmDebug"
            class="swarm.manager.views.StartingMethodView"
            icon="icons/project.gif"
            id="swarm.manager.views.StartingMethodView"
            name="%view.name.2">
      </view>
      <view
            allowMultiple="false"
            category="SwarmDebug"
            class="swarm.manager.views.EndingMethodView"
            icon="icons/project.gif"
            id="swarm.manager.views.EndingMethodView"
            name="%view.name.3">
      </view>
      <view
            allowMultiple="false"
            category="SwarmDebug"
            class="swarm.manager.views.BreakpointView"
            icon="icons/project.gif"
            id="swarm.manager.views.BreakpointView"
            name="%view.name.4">
      </view>
      <view
            allowMultiple="false"
            category="SwarmDebug"
            class="swarm.manager.views.DashboardBrowser"
            icon="icons/project.gif"
            id="swarm.manager.views.DashboardBrowser"
            name="%view.name.5">
      </view>
      <view
            allowMultiple="false"
            category="SwarmDebug"
            class="swarm.manager.views.Neo4JBrowser"
            icon="icons/project.gif"
            id="swarm.manager.views.Neo4JBrowser"
            name="%view.name.6">
      </view>                     
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.mylyn.context.ui.preferences"
            class="swarm.manager.SwarmPreferencePage"
            id="swarm.manager.swarmpreferencepage"
            name="%SwarmDebuggingPreferencePage.name">
            <keywordReference id="swarm.manager.ui.keywords"/>
      </page>
   </extension>
   
     <extension
   		point="org.eclipse.ui.keywords">
      <keyword
            label="%keywords.label"
            id="swarm.manager.ui.keywords"/>
   </extension>
</plugin>
