<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Software Pathfinder"
            id="SoftwarePathfinder">
      </category>
      <view
            allowMultiple="false"
            category="SoftwarePathfinder"
            class="swarm.manager.views.ManagerView"
            icon="icons/project.gif"
            id="swarm.manager.views.ManagerView"
            name="Swarm Debugging Manager">
      </view>
      <view
            allowMultiple="false"
            category="SoftwarePathfinder"
            class="swarm.manager.views.DynamicMethodCallGraph"
            icon="icons/project.gif"
            id="swarm.manager.views.DynamicMethodCallGraph"
            name="Method Call Graph">
      </view>      
      <view
            allowMultiple="false"
            category="SoftwarePathfinder"
            class="swarm.manager.views.SequencePathView"
            icon="icons/project.gif"
            id="swarm.manager.views.SequencePathView"
            name="Sequence Stack Diagram">
      </view>
      <view
            allowMultiple="false"
            category="SoftwarePathfinder"
            class="swarm.manager.views.StartingMethodView"
            icon="icons/project.gif"
            id="swarm.manager.views.StartingMethodView"
            name="Starting Method Search">
      </view>
      <view
            allowMultiple="false"
            category="SoftwarePathfinder"
            class="swarm.manager.views.EndingMethodView"
            icon="icons/project.gif"
            id="swarm.manager.views.EndingMethodView"
            name="Ending Method Search">
      </view>
      <view
            allowMultiple="false"
            category="SoftwarePathfinder"
            class="swarm.manager.views.BreakpointView"
            icon="icons/project.gif"
            id="swarm.manager.views.BreakpointView"
            name="Breakpoint Search">
      </view>
      <view
            allowMultiple="false"
            category="SoftwarePathfinder"
            class="swarm.manager.views.DashboardBrowser"
            icon="icons/project.gif"
            id="swarm.manager.views.DashboardBrowser"
            name="Swarm Dashboard">
      </view>
      <view
            allowMultiple="false"
            category="SoftwarePathfinder"
            class="swarm.manager.views.Neo4JBrowser"
            icon="icons/project.gif"
            id="swarm.manager.views.Neo4JBrowser"
            name="Neo4J Browser">
      </view>                     
   </extension>
</plugin>
